* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgba(69, 90, 120, 0.88);
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  -webkit-text-fill-color:rgba(2, 2, 2, 0.85);
  font-weight: bolder;
}

/* Form Styles */
.form-section {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  -webkit-text-stroke: black;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  height: 80px;
  resize: vertical;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

button:hover {
  background-color: #0015b3;
}
.reset-btn{
  background-color: burlywood;
}
.reset-btn:hover{
  background-color: red;
}

h2 {
  font-weight: bold;
  padding: 20px;
  text-align: center;
  -webkit-text-fill-color: rgba(17, 15, 15, 0.85) ;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.products-section{
  background-color: #FAF7F2;
}
